body {
  background-color: #264592;
  max-width: 800px;
  margin: auto;
}

#main {
 background-color: #e5edf9;
 font-family: 'Questrial', sans-serif;
}

#header  {
  font-family: 'Medieval Sharp', cursive;
  font-size: 50px;
}
#container {
  max-width: 95%;
  margin: auto;
}

#portfolio-trend {
  max-width: 95%;
  margin: auto;
}
